<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/e746cf19-3b49-4bb8-90c6-b994423dc02e/resourceGroups/azdemo-rg/providers/Microsoft.ContainerRegistry/registries/azdemocontainer</ResourceId>
    <ResourceName>azdemocontainer</ResourceName>
    <ResourceGroup>azdemo-rg</ResourceGroup>
    <Subscription>Visual Studio Enterprise Subscription – Usman Khair</Subscription>
    <RegistryUrl>https://azdemocontainer.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>abcf7032-57a8-4b32-a8c0-6084b4ed5263</ProjectGuid>
  </PropertyGroup>
</Project>